<h1>Loose in the Sky!</h1>

<!-- Img 1 -->
<figure>
  <img src="../../assets/img4.png" alt="Skyline New York">
  <figcaption>Duis ut dius minim et qui velit ea ad ut magna pariatur duis ut nisi. Ipsun consectetur sint sit irere
    esse fugiat
    deserunt est. Sit culpa mollit do irure exercitation cupidatat reprehenderit cillum nulla. Reprehenderit
    reprehenderit
    est cupidatat dolor laborum qui veniam Lorem deserunt pariatur amet nulla sint nisi.</figcaption>
</figure>
<app-comments></app-comments>
