<!-- Test -->
<div class="nav">
  <h1>Nation Park</h1>
</div>
<main class="body">
  <!-- Img 1 -->
  <figure>
    <img src="../assets/img1.png" alt="" alt="Torres del Paine, Patagonia" class="photo size1">
    <figcaption>Torres del Paine, Patagonia</figcaption>
  </figure>

  <!-- Img 2 -->
  <figure>
    <img src="../assets/img2.png" alt="Torres del Paine, Patagonia" class="photo size2">
    <figcaption>Coloronado Canyon River</figcaption>
  </figure>

  <!-- Img 3 -->
  <figure>
    <img src="../assets/img3.png" alt="Serengeti Masai Mara" class="photo size3">
    <figcaption>Serengeti Masai Mara</figcaption>
  </figure>
</main>
<!-- <router-outlet></router-outlet> -->
<app-main></app-main>
<app-nba></app-nba>
