<h2>Comments:</h2>

<div class="title"><span>Katy</span> 25/04/2019 15:26</div>
<p>Nostrud voluptate duis us velit magna. Aliquip et ut quis ullamco duis. Aliquiq sunt est magna est dolor duis irure
  consequat consectetur dolore ad. Fugiat ut nom elit minim cupidatat aliquip commodo. Laboris officis elit occaecat
  mollit excepteur tempor enim. Id duis sunt est veniam cillum amet elit aliquip esse.</p>
<div class="title"><span>Salomon</span> 25/04/2019 17:26</div>
<p>Labore dolor consectetur in exercitation elit tempor eiusmod. Minim duis aute aliqua minim laborum mollit Lorem qui
  veniam. Nisi cillum consectetur commodo amet pariatur cillum aute culpa.</p>
<div class="title"><span>Bondary</span> 26/04/2019 16:26</div>
<p>sfdfgdskal</p>
<div class="myForm">
  <form>
    <p>Add your comment</p>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <textarea type="text" id="description" name="description"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
